html {
    font-size: 28px;
}

.logo {
    max-width: 400px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;

    background-color: white;

    position: sticky;
    top: 0;
}

.navbar li {
    display: inline;
    padding: 10px;
}

.navbar li:hover {
    background-color: #182b49;
    color: white;
}

.navbar li a {
    color: inherit;
    text-decoration: none;
}


.section {
    padding: 20px;
    scroll-margin-top: 40px;
}

.section > h2:first-child {
    margin-top: 0;
}

.section.beige {
    background-color: rgb(245, 240, 230);
}

.section.blue {
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
}

.section .grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.section .grid4 > div {
    overflow: scroll;
    background-color: #182b49;
    color: white;
    max-height: 500px;
}
